<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SmartRentals</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="#">Contact us</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="content">
            <div class="text-section">
                <h1>SmartRentals</h1>
                <p>Streamline your rental management tasks with ease</p>
                <p>Welcome to SmartRentals.</p>
                <p>Request a demo to setup your account and sign up.</p>
                <a href="{{ url_for('dashboard') }}" class="request-demo">Request Demo</a>
            </div>
            <div class="graphic">
                <img src="{{ url_for('static', filename='images/Screenshot (41).png') }}">
            </div>
        </div>
    </main>
</body>
</html>